@import '../../scss/variables';
form{
    padding-top: 1rem;
    mat-form-field{
        width: 100%;
    }
}

::ng-deep{
    .cdk-visually-hidden{
        display: none;
       }
}

.success-block{
    padding: 2rem 0;
    text-align: center;
    p{
        word-wrap: break-word;
    }
}
.success-icon{
    font-size: 5rem;
    color: $wm-dark-green;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-self: center;
}
