@font-face {
    font-family: 'Averta PE';
    src: url('https://uploads-ssl.webflow.com/642d3960aa79a9df04fee214/643fe884c4e76106c2daf0cc_39F6CC_6_0.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta PE';
    src: url('https://uploads-ssl.webflow.com/642d3960aa79a9df04fee214/642d9dfe8a5f9d65bbb6b864_AvertaPE-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta PE';
    src: url('https://uploads-ssl.webflow.com/642d3960aa79a9df04fee214/642d9ae342d00f6bc560427e_AvertaPE-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}